.header {
    display: flex;
    justify-content: space-between;
    padding-top: 37px;
    align-items: center;
}

.logo {
    img {
        width: 170px;
    }
}

.navWrapper {
    display: flex;
    font-size: 20px;
    font-weight: 400;
    font-family: 'Raleway', sans-serif;
}

.nav {
    margin-right: 70px;

    &List {
        display: flex;
        list-style: none;
        gap: 50px;

        a {
            text-decoration: none;
            color: #000;
            transition: color 0.2s ease-in-out;

            &:hover {
                color: #0029ea;
            }
        }
    }
}

.hamburgerWrapper {
    input {
        position: absolute;
        height: 32px;
        width: 30px;
        display: block;
        z-index: 101;
        opacity: 0;
        cursor: pointer;
    }

    input:checked ~ .hamburger {
        .line {
            &:first-child {
                transform: rotate(33deg);
            }

            &:nth-child(2) {
                opacity: 0;
            }

            &:last-child {
                transform: rotate(-33deg);
            }
        }
    }

    input:checked ~ .menuItems {
        right: 0;
        box-shadow: -3px 0 8px 1px rgba(0, 0, 0, 0.15);
    }

    .hamburger {
        position: relative;
        z-index: 100;
        display: block;
        height: 23px;
        width: 35px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .line {
            display: block;
            height: 4px;
            width: 100%;
            border-radius: 10px;
            background: #000;

            &:first-child {
                transform-origin: 0% 0%;
                transition: transform 0.4s ease-in-out;
            }

            &:nth-child(2) {
                transition: opacity 0.2s ease-in-out;
            }

            &:last-child {
                transform-origin: 0% 100%;
                transition: transform 0.4s ease-in-out;
            }
        }
    }

    .menuItems {
        position: absolute;
        width: 250px;
        top: 0px;
        right: 0;
        right: -250px;
        text-align: right;
        transition: right 0.4s ease-in-out;
        height: 100vh;
        z-index: 99;
        background: rgb(255, 255, 255);

        @media (max-width: 450px) {
            width: 100%;
            right: -100%;

            ul {
                align-items: center;
            }
        }

        ul {
            list-style: none;
            padding-right: 35px;
            padding-top: 100px;
            display: flex;
            flex-direction: column;
            gap: 15px;

            @media (max-width: 450px) {
                padding-right: 0;
            }

            li {
                a {
                    text-decoration: none;
                    color: #000;
                    transition: color 0.2s ease-in-out;

                    &:hover {
                        color: #0029ea;
                    }

                    &:focus {
                        border: none;
                    }
                }
            }
        }
    }
}

.btn {
    a {
        color: #0029ea;
        font-weight: 700;
        text-decoration: none;
        display: flex;
        gap: 5px;
    }
}
