@import '../../index.scss';

.mainFeatures {
    padding-top: 80px;
    padding-bottom: 105px;
    overflow: hidden;
    position: relative;
    background-image: linear-gradient(#f7faff, #f7faff),
        url('../../../public/assets/img/featuresImages/bottom.svg');
    background-blend-mode: overlay;
    background-position: bottom;
    background-size: auto, contain;
    background-repeat: no-repeat;
}

.Title {
    text-align: center;
    @include h2Title;
    margin-bottom: 45px;
}

.featuresSwiper {
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}

.slideInfo {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;

    h3 {
        margin-top: 10px;
        height: 50px;
        width: 250px;
        vertical-align: center;
        font-size: 19px;
        font-weight: 500;
        line-height: 140%;
        font-family: 'Raleway', sans-serif;
    }

    p {
        margin-top: 25px;
        width: 350px;
        height: 120px;
        font-size: 14px;
        font-weight: 400;
        line-height: 150%;
        font-family: 'Raleway', sans-serif;
    }
}
