@import '../../index.scss';

.longMockup {
    display: flex;
}

.mockupImg {
    width: 50%;
    position: relative;
    img {
        width: 865px;
        position: relative;
        top: -110px;
        left: -200px;
    }
}

.mockupText {
    padding-top: 30px;
    width: 50%;
    position: relative;
    z-index: 10;

    h2 {
        width: 90%;
        @include h2Title;

        span {
            font-weight: 700;
            color: #0029ea;
        }
    }

    p {
        width: 90%;
        font-weight: 400;
        font-family: 'Inter', sans-serif;
        font-size: 18px;
        line-height: 150%;
        margin: 60px 0;
    }
}
