.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 65px;
    padding-top: 75px;
    margin-top: 60px;
    background: url('../../../public/assets/img/footer_bg.svg') no-repeat bottom;
    background-size: 110% 100%;

    @media (max-width: 1200px) {
        background-size: 120% 100%;
    }

    @media (max-width: 850px) {
        background-size: 170% 100%;
    }

    @media (max-width: 650px) {
        background-size: 190% 100%;
    }

    @media (max-width: 450px) {
        background-size: 210% 100%;
    }

    h3 {
        font-family: 'Raleway', sans-serif;
        font-size: 33px;
        font-weight: 700;
        text-align: center;
        color: #0029ea;
        margin-bottom: 60px;
        padding: 0 10px;
        margin-top: 75px;

        @media (max-width: 600px) {
            font-size: 31px;
        }

        @media (max-width: 600px) {
            font-size: 29px;
        }

        @media (max-width: 470px) {
            font-size: 25px;
        }

        @media (max-width: 420px) {
            font-size: 23px;
        }
    }
}

.footerText {
    display: flex;
    align-items: flex-end;
    gap: 250px;
    margin-top: 75px;

    @media (max-width: 850px) {
        flex-direction: column;
        gap: 30px;
        align-items: center;
        padding-left: 30px;
        width: 100%;
    }

    @media (max-width: 450px) {
        align-items: flex-start;
    }

    .author {
        display: flex;
        flex-direction: column;
        gap: 95px;

        .logo {
            display: flex;
            flex-direction: column;
            gap: 8px;

            @media (max-width: 850px) {
                align-items: center;
                text-align: center;
            }

            @media (max-width: 450px) {
                text-align: left;
                align-items: flex-start;
            }

            img {
                width: 130px;
            }

            span {
                width: 200px;
                font-family: 'Raleway', sans-serif;
                font-size: 16px;
                font-weight: 400;
                margin-top: 20px;
            }
        }

        &Text {
            width: 220px;
            font-family: 'Raleway', sans-serif;
            font-size: 16px;
            font-weight: 300;

            @media (max-width: 850px) {
                width: 60%;
                text-align: center;
            }

            @media (max-width: 450px) {
                text-align: left;
            }
        }
    }

    .linksBlock {
        display: flex;

        .contacts {
            a {
                border-bottom: 1px solid black;
            }
        }

        @media (max-width: 850px) {
            gap: 100px;
        }

        @media (max-width: 450px) {
            gap: 0px;
        }

        ul {
            list-style: none;
            display: flex;
            gap: 30px;
            flex-direction: column;

            li {
                font-family: Raleway;
                font-size: 16px;
                font-weight: 400;

                a {
                    text-decoration: none;
                    color: #000;
                    transition: color 0.2s ease-in-out;

                    &:hover {
                        color: #0029ea;
                    }
                }
            }
        }

        h5 {
            font-family: 'Raleway', sans-serif;
            font-size: 18px;
            font-weight: 500;
            margin-bottom: 30px;
        }
    }
}
